.about{
    background:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url('../../assist/images/aboutw.jpg') center;
    background-size: cover;
    width: 100%;
    height: 70vh;
}
.about h1{
    color: #fff;
    text-align: center;
    margin-top: 10rem;
}
.about p{
    text-align: center;
    margin-top: 2rem;
    line-height: 2.5;
    font-size: 18px;
}